<ul>
    {{#each supporters}}
        <li><p>{{firstname}}
                {{lastname}}
                {{age}}
                <a href="/supporters/{{city}}">{{city}}</a>
                <a href="{{url}}">{{url}}</a></p></li>
    {{/each}}
</ul>