<ul>
    {{#each supporters}}
        <li>
            {{#if homepage}}
                <p><a href="{{homepage}}">{{firstname}} {{lastname}}</a></p>
            {{else}}
                <p>
                    {{firstname}}
                    {{lastname}}
                </p>
            {{/if}}
            {{#if age}}
                <p>{{age}}</p>
            {{/if}}
            {{#if city}}
                {{#if ../filter}}
                    {{city}}
                {{else}}
                    <p><a href="/supporters/{{city}}">{{city}}</a></p>
                {{/if}}
            {{/if}}
        </li>
    {{/each}}
</ul>